

  .background2{
    background-image: url('../../sources/portada.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
  }
  

  .text{
    margin-top: 5vh;
    padding-right: 5vh;
  }